/**
 * Copyright 2007 Google Inc.
 * All Rights Reserved.
 *
 * Gooey fixed width template styles.
 */
 
/* 160px */
.g-tpl-160 .g-unit, 
.g-unit .g-tpl-160 .g-unit, 
.g-unit .g-unit .g-tpl-160 .g-unit {
  display: block;
  margin: 0 0 0 161px;
  width: auto;
  float: none;
}

.g-unit .g-unit .g-tpl-160 .g-first,
.g-unit .g-tpl-160 .g-first,
.g-tpl-160 .g-first {
  display: block;
  margin: 0;
  width: 161px;
  float: left;
}

/* 160px alt */
.g-tpl-160-alt .g-unit, 
.g-unit .g-tpl-160-alt .g-unit, 
.g-unit .g-unit .g-tpl-160-alt .g-unit {
  display: block;
  margin: 0 161px 0 0;
  width: auto;
  float: none;
}

.g-unit .g-unit .g-tpl-160-alt .g-first,
.g-unit .g-tpl-160-alt .g-first,
.g-tpl-160-alt .g-first {
  display: block;
  margin: 0;
  width: 161px;
  float: right;
}
 
/* 180px */
.g-tpl-180 .g-unit, 
.g-unit .g-tpl-180 .g-unit, 
.g-unit .g-unit .g-tpl-180 .g-unit {
  display: block;
  margin: 0 0 0 181px;
  width: auto;
  float: none;
}

.g-unit .g-unit .g-tpl-180 .g-first,
.g-unit .g-tpl-180 .g-first,
.g-tpl-180 .g-first {
  display: block;
  margin: 0;
  width: 181px;
  float: left;
}

/* 180px alt */
.g-tpl-180-alt .g-unit, 
.g-unit .g-tpl-180-alt .g-unit, 
.g-unit .g-unit .g-tpl-180-alt .g-unit {
  display: block;
  margin: 0 181px 0 0;
  width: auto;
  float: none;
}

.g-unit .g-unit .g-tpl-180-alt .g-first,
.g-unit .g-tpl-180-alt .g-first,
.g-tpl-180-alt .g-first {
  display: block;
  margin: 0;
  width: 181px;
  float: right;
}
 
/* 250px */
.g-tpl-250 .g-unit, 
.g-unit .g-tpl-250 .g-unit, 
.g-unit .g-unit .g-tpl-250 .g-unit {
  display: block;
  margin: 0 0 0 251px;
  width: auto;
  float: none;
}

.g-unit .g-unit .g-tpl-250 .g-first,
.g-unit .g-tpl-250 .g-first,
.g-tpl-250 .g-first {
  display: block;
  margin: 0;
  width: 251px;
  float: left;
}

/* 250px alt */
.g-tpl-250-alt .g-unit, 
.g-unit .g-tpl-250-alt .g-unit, 
.g-unit .g-unit .g-tpl-250-alt .g-unit {
  display: block;
  margin: 0 251px 0 0;
  width: auto;
  float: none;
}
.g-unit .g-unit .g-tpl-250-alt .g-first,
.g-unit .g-tpl-250-alt .g-first,
.g-tpl-250-alt .g-first {
  display: block;
  margin: 0;
  width: 251px;
  float: right;
}
 
/* 300px */
.g-tpl-300 .g-unit, 
.g-unit .g-tpl-300 .g-unit, 
.g-unit .g-unit .g-tpl-300 .g-unit {
  display: block;
  margin: 0 0 0 301px;
  width: auto;
  float: none;
}

.g-unit .g-unit .g-tpl-300 .g-first,
.g-unit .g-tpl-300 .g-first,
.g-tpl-300 .g-first {
  display: block;
  margin: 0;
  width: 301px;
  float: left;
}

/* 300px alt */
.g-tpl-300-alt .g-unit, 
.g-unit .g-tpl-300-alt .g-unit, 
.g-unit .g-unit .g-tpl-300-alt .g-unit {
  display: block;
  margin: 0 301px 0 0;
  width: auto;
  float: none;
}

.g-unit .g-unit .g-tpl-300-alt .g-first,
.g-unit .g-tpl-300-alt .g-first,
.g-tpl-300-alt .g-first {
  display: block;
  margin: 0;
  width: 301px;
  float: right;
}
