/**
 * Copyright 2007 Google Inc.
 * All Rights Reserved.
 *
 * Gooey base styles.
 */

/* Designed for fluid width scaling */
.g-doc {
  width: 100%;
  text-align: left;
}

/* Designed for 1024x768 */
.g-doc-1024 {
  width: 73.074em;
  *width: 71.313em;
  min-width: 950px; /* min-width doesn't work in IE6 */
  margin: 0 auto;
  text-align: left;
}

/* Designed for 800x600 */
.g-doc-800 {
  width: 57.69em;
  *width: 56.3em;
  min-width: 750px;  /* min-width doesn't work in IE6 */
  margin: 0 auto;
  text-align: left;
}

/* For agents that support the pseudo-element selector syntax */
.g-section:after { 
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Forces hasLayout for IE. This fixes the usual gamut of peekaboo bugs. */
.g-section,
.g-unit {
  zoom: 1;
}
