
/* (http://www.jdiff.org) */

/* 
 Links which become blue when hovered upon and show that they have been 
 visited. 
*/
.hiddenlink {text-decoration:none;}
a.hiddenlink:link      {color: black; text-decoration: none}
a.hiddenlink:visited   {color: purple; text-decoration: none}
a.hiddenlink:hover     {color: blue; text-decoration: underline;}

/* 
 Links which become blue when hovered upon but do not show that they have 
 been visited. 
*/
a.staysblack:link     {color: black; text-decoration: none}
a.staysblack:visited  {color: black; text-decoration: none}
a.staysblack:hover    {color: blue; text-decoration: underline;}

div.and-diff-id {border: 1px solid #eee;position:relative;float:right;clear:both;padding:0px;}
table.diffspectable {border:1px;padding:0px;margin:0px;}
.diffspectable tr {border:0px;padding:0px;}
.diffspectable td  {background-color:eee;border:0px;font-size:90%;font-weight:normal;padding:0px;padding-left:1px;padding-right:1px;text-align:center;color:777;}
td.diffvalueold {color:orange;background-color:white;border:0px;font-size:80%;font-style:normal;text-align:left;padding:0px;padding-left:1px;padding-right:1px;line-height:.95em;}
td.diffvaluenew {color:green;background-color:white;border:0px;font-size:80%;font-weight:normal;text-align:left;padding:0px;padding-left:1px;padding-right:1px;line-height:.95em;}
td.diffvalue {color:444;background-color:white;border:0px;font-size:80%;font-weight:normal;text-align:left;padding:0px;padding-left:1px;padding-right:1px;line-height:.95em;}
td.diffspec {background-color:white;border:0px;font-size:80%;font-weight:normal;padding:1px;color:444;text-align:right;padding-right:.5em;line-height:.95em;}
tt {font-size:11pt;font-family:monospace;}
code {font-size:11pt;font-family:monospace;}
.indexHeader {font-size:11pt;line-height:.8em;}
.indexText {font-size:9pt;line-height:.8em;padding-left:1em;}
.pagecontenth1 {
  line-height: 130%;
  font-size: 170%;
  xmargin: 0 0 0 -10px;
  padding: .8em 0 0;
  border: none;
  background: none;
}

.pagecontenth2 {
  font-size: 130%;
  font-weight: bold;
  margin: 2em 0 0 -10px; 
  padding: 1px 3px;
  position: relative;
  border-top: 1px solid #3366CC;
  background-color: #e5ecf9;
}
